body{
    background-image: linear-gradient(to right, #55efc4 , #a29bfe);
    text-align: center;

}
.index{
    margin-top:10%;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

a {
  color: #2d3436;
  font-size: 20px;
  font-weight: bold;
}

.index button{
    background-color: #d63031;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 3.5px 2px;
      cursor: pointer;
}
.animal{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

img{
    width: 100px;
    height: 100px;
}
.animals{
    font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

