<h1>Animal Form</h1>

<form action="/animals" method="post">
    <label for="name">Animal</label>
    <input type="animal" id="name" name="name">
    <input type="checkbox" name="endangered" value="endangered">Endangered
    <button type="submit" class="btn">Add Animal</button>

</form>