<h1>Animal Form</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ5djHjWY2fcl6JEafv15VnyLlfYMyKnKwyCuY4CUk0rM8JiE2">

<form action="/animals" method="post">
    <label for="name">Animal</label>
    <input type="animal" id="name" name="name">
    <input type="checkbox" name="endangered" value="endangered">Endangered
    <button type="submit" class="btn">Add Animal</button>

</form>