<h1>$endangeredAnimal.getName()</h1>
<h4>Animal ID: $endangeredAnimal.getId()</h4>

#if($endangeredAnimal.getSightings().size() == 0)
<p>Click here to report a sighting <a href="/sightings">Sightings</a>.</p>
#else
    #foreach($sighting in $endangeredAnimal.getSightings())
        Ranger: $sighting.getRanger()
        Location: $sighting.getLocation()
        Health: $sighting.getHealth()
        Age: $sighting.getAge()
        Time: $sighting.getSighting()
<br>
<br>
#end
#end